streamlit==1.50.0
langchain==0.1.10
chromadb==0.4.22
pypdf2==3.0.1
python-docx==0.8.11
tiktoken==0.6.0
sentence-transformers==2.6.1
langchain-community==0.0.26
langchain-core==0.1.30
ollama==0.6.2
langchain-ollama